* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 1024px;
  background-image: url(img/top.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top__title {
  color: #FFF;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 217px;
  padding-right: 411px;
}
.top__text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  padding-top: 32px;
  padding-right: 719px;
  padding-bottom: 44px;
}
.top__textlink {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.top__textlink:hover {
  color: #9C0332;
}
.top__buttonbox {
  display: flex;
}
.top__button {
  width: 234.063px;
  height: 48.603px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #9C0332;
  padding: 13px 74px 13px 74px;
  box-sizing: border-box;
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: transform 0.7s;
  cursor: url(img/cursor.png);
}
.top__button:hover {
  transform: scale(1.1);
}

.game {
  height: 556px;
  background: #000915;
}
.game__box {
  display: flex;
  flex-wrap: nowrap;
  gap: 32px;
  padding-top: 128px;
}
.game__item {
  position: relative;
  transition: transform 0.7s;
}
.game__item:hover {
  transform: scale(1.1);
}
.game__name {
  position: absolute;
  left: 32px;
  bottom: 32px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.seasons {
  height: 800px;
  background: #000915;
  display: flex;
  align-items: center;
  gap: 135px;
  margin-left: auto;
}
.seasons__title {
  color: #FFF;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.seasons__text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}
.seasons__main {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 187.5px);
    padding-right: calc(50% - 187.5px);
  }
  .top {
    padding-left: 16px;
    padding-right: 16px;
    height: 735px;
  }
  .top__title {
    padding-top: 238px;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    font-size: 32px;
  }
  .top__text {
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding-bottom: 32px;
  }
  .top__textlink {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
  }
  .top__buttonbox {
    justify-content: center;
  }
  .game {
    height: 1221px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .game__box {
    flex-direction: column;
    justify-content: center;
    background: #000915;
    padding-left: calc(50% - 187.5px);
    padding-right: calc(50% - 187.5px);
  }
  .game__img {
    width: 343px;
  }
  .game__item {
    display: flex;
    justify-content: center;
  }
  .seasons {
    height: 654px;
    padding-top: 51px;
    padding-left: 16px;
    padding-right: 16px;
    flex-direction: column;
    gap: 64px;
  }
  .seasons__main {
    align-items: center;
    padding-bottom: 0;
  }
  .seasons__title {
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .seasons__text {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
  }
  .seasons__img {
    width: 344px;
    height: 236px;
  }
}/*# sourceMappingURL=style.css.map */