$width-site: 1200px;
$width-mobile: 375px;
$gap: 32px;
$color:  #9C0332;

* {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  .center {
    padding-left: calc(50% - $width-site/2);
    padding-right: calc(50% - $width-site/2);
  }
  .top {
    height: 1024px;
    background-image: url(img/top.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
        &__title{
        color: #FFF;
        font-family: Montserrat;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-top: 217px;
        padding-right: 411px;
        }
        &__text{
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
        padding-top: $gap;
        padding-right: 719px;
        padding-bottom: 44px;
        }
    &__textlink{
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        }
    &__textlink:hover {
        color: $color; 
        }
    &__buttonbox{
        display: flex;
        }
    &__button{
        width: 234.063px;
        height: 48.603px;
        flex-shrink: 0;
        border-radius: 30px;
        background: $color;
        padding: 13px 74px 13px 74px;
        box-sizing: border-box;
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        transition: transform 0.7s;
        cursor: url(img/cursor.png);
        }
    &__button:hover {
        transform: scale(1.1);
        }
      }    
  .game {
    height: 556px;
    background: #000915;
      &__box {
      display: flex;
      flex-wrap: nowrap;
      gap: $gap;
      padding-top: 128px;
    }
    &__item {
      position: relative;
      transition: transform 0.7s;
    }
    &__item:hover {
      transform: scale(1.1);
      }
    &__name {
      position: absolute;
      left: $gap;
      bottom: $gap;
      color: #FFF;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px; 
    }
    }
  .seasons {
    height: 800px;
    background: #000915;
    display: flex;
    align-items: center;
    gap: 135px;
    margin-left: auto;
    &__title {
      color: #FFF;
      font-family: Montserrat;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    &__text {
      color: #FFF;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 32px;
    }
    &__main {
      display: flex;
      flex-direction: column;
      
      gap: $gap;
    }
  }  
  
    @import 'mobile';
  